#ui-overlay {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 350px;
  max-width: 80vw;
  max-height: 100vh;
  background-color: #DCDCDC;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 2px solid #414141;
  box-shadow: 0px 0px 10px #353535;
  padding: 1em;
}

body {
}
