:root {
  --edit-color: #338000;
  --edit-color-lo: #2C6F00;
  --edit-color-fg: #eee;
}

#ui-overlay > div {
  position: fixed;
  bottom: 0px;
  right: 0px;
  max-width: 80vw;
  max-height: 100vh;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  padding: 1em;
  color: #333;
  background-color: #EEEEEE;
  padding: 1em 2em;
  font-family: Arial;
}

#ui-overlay > div > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#ui-overlay h3 {
}

#ui-overlay button {
  display: block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--edit-color);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid var(--edit-color-lo);
  font-weight: 700;
  color: var(--edit-color-fg);
  line-height: 26px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#ui-overlay button .icon {
  margin-right: 8px;
}

.edit-button {
  background-color: var(--edit-color);
  float: right;
  position: absolute;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  display: inline-block;
  margin-left: 1em;
  width: 48px;
  height: 48px;
  border: 0px;
  border-radius: 24px;
  margin-top: -0.75em;
  cursor: pointer;
}

button svg path {
  fill: var(--edit-color-fg);
}

span.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* https://css-tricks.com/the-checkbox-hack/ */

#ui-overlay [type="checkbox"]:not(:checked),
#ui-overlay [type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

#ui-overlay [type="checkbox"]:not(:checked) + label,
#ui-overlay [type="checkbox"]:checked + label {
  cursor: pointer;
}

#ui-overlay [type="checkbox"]:checked + label:before {
  content: "✅";
}

#ui-overlay [type="checkbox"]:not(:checked) + label:before {
  content: "🟩";
}
